<div class="list-group-item" id="{{comment.id}}" >
  <div>
    <div class="comment-top">{{::comment.author}} {{::comment.datetime * 1000| date:'short'}}</div>
    <div class="comment-text">{{::comment.comment}}</div>

    <a href ng-if="comment.children.length" ng-click="comment.expanded=!comment.expanded">
        <div ng-if="comment.children.length" ng-class="comment.expanded ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"></div>
        <ng-pluralize count="comment.children.length" when="{'0': '', 'one': ' 1 reply','other': '{} replies'}"></ng-pluralize>
    </a>
  </div>
  <div ng-if="comment.children.length && comment.expanded">
    <div ng-repeat="comment in comment.children" ng-include="'gallery-detail/gallery-comment.template.html'" ></div>
  </div>
</div>
