<div class="container">
  <div class="page-header">
    <h3>{{$ctrl.polandball.title}}</h3>
    <h4>Added by {{$ctrl.polandball.account_url}}</h4>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img class="img-rounded img-responsive" ng-src="{{$ctrl.mainImageUrl}}" alt="{{polandball.id}}" />
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <div class="social-media-icon">
            <a class="fa fa-facebook-square fa-3x" aria-hidden="true" href="" ng-click="$ctrl.share('facebook')"></a>
            <a class="fa fa-twitter-square fa-3x" aria-hidden="true" href="" ng-click="$ctrl.share('twitter')"></a>
            <a class="fa fa-google-plus-square fa-3x" aria-hidden="true" href="" ng-click="$ctrl.share('google')"></a>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-2">
          <div class="social-media-icon">
            <p><span><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></span>{{$ctrl.polandball.ups}}</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="social-media-icon">
            <p><span><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></span>{{$ctrl.polandball.downs}}</p>
          </div>
        </div>
      </div>
      <div class="list-group list-group-root">
        <p>
          <ng-pluralize count="$ctrl.comments.length" when="{'0': 'There are no comments..', 'one': 'Comment','other': '{} Comments'}"></ng-pluralize>
        </p>
        <div ng-repeat="comment in $ctrl.comments | limitTo:$ctrl.limitComments" ng-include="'gallery-detail/gallery-comment.template.html'" class="gallery-list-item"></div>
      </div>
      <button class="btn btn-default" href="#" ng-click="$ctrl.loadNextComments()">Next comments</button>
    </div>
  </div>
</div>