

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}

/* View: gallery list */
.galleries {
  list-style: none;
}

.galleries li {
  clear: both;
  height: 175px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 160px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 160px;
  overflow: hidden;
}

/* View: gallery detail */
.gallery {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.gallery:first-child {
  display: block;
}

.gallery-images {
  /*background-color: white;*/
  /*float: left;*/
  /*height: 450px;*/
  /*overflow: hidden;*/
  /*position: relative;*/
  /*width: 450px;*/
  /*width: 100%;*/
}

.gallery-thumbs {
  list-style: none;
  margin: 0;
}

.gallery-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}

/*img {*/
  /*margin: 0 auto;*/
/*}*/

.gallery-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}


.just-padding {
  padding: 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.list-group-item .glyphicon {
  margin-right: 5px;
}

.list-group-item .comment-top {
  background-color: #f3f3f3;
  margin-bottom: 0px;
}

.fa.fa-facebook-square {
  color: #3b5998;
}

.fa.fa-twitter-square {
  color: #55acee;
}

.fa.fa-google-plus-square {
  color: #dd4b39;
}

 div.social-media-icon a{
  text-decoration: none;
}

.input-group {
  margin-bottom: 15px;
}

.navbar-brand img {
    margin-top: -10px;
}

.page-header {
    margin-top: -40px;
}