<div class="container">
    <div class="row">
        <form class="input-group" ng-submit="$ctrl.search()">
            <input type="text" ng-model="$ctrl.query" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <input class="btn btn-default" id="submit" type="submit" value="Search"/>
            </span>
        </form>
    </div>
    <div class="row">
        <div class="galleries">
            <li ng-repeat="polandball in $ctrl.polandballs" class="thumbnail gallery-list-item">
                <a href="#!/galleries/{{polandball.id}}" class="thumb">
                    <img ng-src="http://imgur.com/{{polandball.id}}b.jpg" alt="{{polandball.id}}" />
                </a>
                <p>{{::polandball.title}} <span class="badge">{{::polandball.points}}</span></p>
                <a href ng-if="polandball.account_url" ng-click="$ctrl.searchByUser(polandball.account_url)">More polandball from {{::polandball.account_url}}</a>
            </li>
            <button class="btn btn-default" href="#" ng-click="$ctrl.loadNext()">Next balls</button>
        </div>
    </div>
</div>
